* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Segoe UI";
  src: url("fonts/SegoeUI/SegoeUI-Regular.woff2") format("woff2"),
    url("fonts/SegoeUI/SegoeUI-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("fonts/SegoeUI/SegoeUI-Bold.woff2") format("woff2"),
    url("fonts/SegoeUI/SegoeUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--system-violet, #6725a8);
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.header {
  color: var(--system-white, #fff);
  display: flex;
  align-items: center;
  gap: 34px;
  margin: 18px 22px 20px 24px;
}

.header-nav {
  display: flex;
  gap: 16px;
}

.header-nav__burger {
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  padding: 11px 9px 7px 9px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 2px;
}

.header-nav__burger:hover {
  border: 1px solid var(--system-white, #fff);
}

.header-nav__logo {
  width: 108px;
  font-size: 30px;
  line-height: 23.8px;
  font-variant: all-small-caps;
  margin: -1px -5px 0px 1px;
  letter-spacing: 2px;
}

.header-nav__logo span {
  letter-spacing: 1.7px;
  margin-left: -1.2px;
}

.header-search {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  padding: 11px 17px 7px 20px;
  border-radius: 36px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 2px;
}

.header-search:hover {
  background-color: rgba(255, 255, 255, 0.328);
}

.header-search__button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.header-search__input {
  background: transparent;
  border-color: transparent;
  color: var(--text-black, #000);
  font-size: 18px;
  width: 100%;
  letter-spacing: -0.3px;
  margin: -10px 0px -3px -3px;
  cursor: pointer;
}

.header-search__input::-moz-placeholder {
  color: var(--system-white, #fff);
  opacity: 0.5;
}

.header-search__input::placeholder {
  color: var(--system-white, #fff);
  opacity: 0.5;
}

.header-navbar {
  display: flex;
  gap: 41px;
}

.header-navbar__link {
  min-width: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  line-height: 16px;
}

.header-navbar__profile-img,
.header-navbar__cart-img {
  width: 28px;
  height: 28px;
}

.header-navbar__cart-img {
  margin-left: 9px;
  margin-right: 16px;
}

.count {
  font-size: 10px;
  text-align: center;
  min-width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  right: 28px;
  background: #f55123;
  padding: 0 4px;
  font-weight: 700;
  border-radius: 16px;
  color: var(--system-white, #fff);
}

.cart-container {
  border-radius: 24px 24px 24px 24px;
  background: #f6f6fa;
  padding: 22px 24px 50px 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
}

.cart-product__right,
.cart-product__left {
  display: flex;
}

.cart-product__left {
  align-items: flex-start;
}

.checkbox-all {
  margin-right: 12px;
}

/* Скрыть нативный чекбокс */
input[type="checkbox"] {
  display: none;
}

/* Стилизовать кастомный чекбокс */
input[type="checkbox"] + .custom-checkbox {
  position: relative;
  padding-left: 33px;
  cursor: pointer;
}

/* Создать кастомный вид для кастомного чекбокса */
input[type="checkbox"] + .custom-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url(image/checkbox.svg);
}

/* Отступ для текста "Выбрать все" */
.custom-checkbox {
  display: flex;
  align-items: center;
}

/* Стилизовать кастомный чекбокс при выборе */
input[type="checkbox"]:checked + .custom-checkbox::before {
  background-image: url(image/checkbox-active.svg);
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-action {
  display: flex;
}

.cart {
  grid-column: span 2;
}

.cart__title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-top: 12px;
  margin-bottom: 25px;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19.5px;
  border-bottom: 1px solid var(--rulers-rulers, rgba(0, 0, 0, 0.1));
}

.cart__header h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.cart__header img {
  margin-top: 3px;
}

.cart-product-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 32px;
}

.cart-product {
  display: flex;
  padding-top: 8px;
  gap: 17px;
}

.cart-product img {
  margin-right: 17px;
}

.cart-product__actions img {
  margin-right: 0;
}

.cart-product__name,
.cart-product__color,
.cart-product__size {
  margin-bottom: 5px;
}

.cart-product__options {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 275px;
  margin-top: 1px;
}

.cart-product__box {
  margin-right: 44px;
  margin-bottom: 2px;
}

.cart-product__seller-info {
  width: 20px;
  height: 20px;
}

.cart-product__name {
  font-size: 16px;
  line-height: 24px;
}

.cart-product__option {
  display: flex;
  gap: 18px;
  font-family: Segoe UI;
  font-size: 13px;
  line-height: 16px;
}

.cart-product__warehouse,
.cart-product__seller {
  color: var(--system-gray, #9797af);
  font-size: 13px;
  line-height: 16px;
}

.cart-product__seller-box {
  display: flex;
  gap: 7px;
}

.cart-product-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 16px;
}

.cart-product__quantity-count {
  width: 100px;
  height: 44px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: var(--background-white, #fff);
  text-align: center;
}

.cart-product__actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.cart-product-box img {
  width: 20px;
  height: 20px;
}

.cart-product__remaining {
  color: #ff3b30;
  font-size: 13px;
  line-height: 16px;
}

.cart-product__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 110px;
  gap: 5px;
  white-space: nowrap;
  margin-top: -2px;
}

.cart-product__final-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.cart-product__price-small {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 6px;
  gap: 8px;
}

.cart-product__final-price-small {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.4px;
  margin-top: 2px;
}

.cart-product__old-price {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  color: var(--system-gray, #9797af);
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px dashed var(--rulers-rulers-input, rgba(0, 0, 0, 0.2));
  letter-spacing: -0.14px;
}

.cart-product__final-price span {
  font-size: 16px;
  line-height: 24px;
}

.cart-result-order__item {
  display: flex;
  gap: 32px;
  margin-top: 17px;
  margin-bottom: 15px;
}

.cart-result-order__item-title,
.cart-result-order__item-info {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.cart-result-order__item-title {
  letter-spacing: 0.3px;
}

.cart-result-order__item-title-item1 {
  margin-bottom: 22px;
}

.cart-result-order__item-title-item2 {
  margin-bottom: 1px;
}

.cart-result-order__item-title-item3 {
  margin-bottom: 34px;
}

.cart-result-order__img-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 1px;
}

.cart-result-order__img-container img {
  width: 40px;
  height: 56px;
  border-radius: 8px;
}

.cart-result-order__img {
  display: flex;
  gap: 8px;
}

.cart-result-order__img-count {
  position: relative;
}

.count-buy {
  top: -7px;
  right: -4px;
  font-weight: 400;
}

.cart-result-order-container-items {
  display: flex;
  flex-direction: column;
  gap: 17px;
  min-width: 590px;
}

.cart-result-order-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart-result-order-box {
  max-width: 300px;
}
.cart-result-order {
  max-width: 891px;
  padding: 16px 24px 24px 24px;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  background: var(--background-white, #fff);
}

.cart-order {
  border-radius: 16px;
  background: var(--background-white, #fff);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  min-width: 303px;
  padding: 15px 25px 24px 24px;
  flex-direction: column;
  gap: 23.5px;
  max-height: 603px;
}

.cart-result {
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.5px;
  letter-spacing: -0.24px;
}

.cart-result span {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.cart-result a {
  color: var(--system-magenta, #cb11ab);
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

.cart-order-result-card {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  letter-spacing: -0.1px;
}

.cart-order-result-card-pay p {
  color: var(--system-gray, #9797af);
  font-size: 13px;
  line-height: 16px; /* 123.077% */
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 34px;
  min-width: 590px;
}

.form-box__items {
  display: flex;
  gap: 24px;
  align-items: center;
}

.form-box__item {
  color: var(--system-gray, #9797af);
  font-size: 16px;
  border: none;
  line-height: 24px;
  border-bottom: 1px solid var(--rulers-rulers-input, rgba(0, 0, 0, 0.2));
  width: 100%;
  position: relative;
}

.test {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-box__label {
  color: var(--system-gray, #9797af);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.cart-order-result-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-order-result__card img {
  background: var(--background-smoky, #f6f6fa);
  border-radius: 4px;
}

.cart-result-order__item-info-adress {
  display: flex;
  gap: 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 5px;
}

.cart-order-container {
  line-height: 24px;
  letter-spacing: 0.09px;
}

.cart-result,
.cart-order__info,
.cart-order__delivery-header,
.cart-order__payment-header {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}

.cart-order__delivery,
.cart-order__delivery-info {
  display: flex;
  flex-direction: column;
}

.cart-order__delivery {
  gap: 12px;
}

.cart-order__delivery-info {
  gap: 6px;
}

.cart-order__delivery-header {
  line-height: 24px;
}

.cart-order__delivery-header a {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

.cart-order__delivery-address {
  font-size: 13px;
  line-height: 16px;
}

.cart-order__delivery-address p {
  margin-bottom: 4px;
}

.cart-order__delivery-address a {
  color: var(--system-magenta, #cb11ab);
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
  line-height: 16px;
}

.return,
.cart-order__card-pay-now {
  border-radius: 8px;
  background: var(--background-smoky, #f6f6fa);
  padding: 10px 8px 12px 8px;
  font-size: 13px;
  line-height: 16px;
}

.cart-order__card-pay-now {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 13px;
  line-height: 18px;
}

.custom-checkbox-pay {
  margin-left: -2px;
  margin-top: -1px;
}

.return img {
  width: 22px;
  height: 22px;
}

.return span {
  display: inline-block;
  width: 100%;
}

.return a {
  color: var(--system-green, #0cb477);
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
  letter-spacing: 0.1px;
}

.return p {
  font-size: 13px;
  line-height: 16px;
}

.return {
  display: flex;
  gap: 8px;
  align-items: center;
}

.return-info {
  background-color: transparent;
  padding: 0;
}

.return-info p {
  margin-top: 6px;
}

.cart-order__payment-card-info {
  display: flex;
  gap: 10px;
  text-align: right;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 8px;
}

.cart-order__payment {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.cart-order__payment-card-info img {
  background: var(--background-smoky, #f6f6fa);
  border-radius: 4px;
}

.cart-order button {
  border-radius: 8px;
  background: var(--system-magenta, #cb11ab);
  display: flex;
  height: 45px;

  justify-content: center;
  align-items: center;
  border: none;
  color: var(--system-white, #fff);

  font-size: 15px;
  font-weight: 700;
}

.cart-order__do-order {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.oferta-access {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 13px;
  line-height: 16px;
  min-width: 234px;
}

.oferta-access p {
  margin-right: 24px;
}

.oferta-access a {
  border-bottom: 1px solid var(--rulers-rulers, rgba(0, 0, 0, 0.1));
}

.form-box__phone-container {
  width: 100%;
  margin-bottom: 20px;
  margin-top: -2px;
}

.form-box__inn-container {
  margin-top: 21px;
  width: 100%;
}

.form-box__label-inn {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.out-of-stock {
  color: var(--system-gray, #9797af);
  filter: grayscale(100%);
  min-width: 309px;
  margin-right: 43px;
}

.out-stock {
  display: none;
}

.footer__text {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  margin: 24px;
  letter-spacing: 0.2px;
}

@media (min-width: 1025px) {
  .cart-product {
    justify-content: space-between;
  }

  .out-of-stock {
    margin-right: 110px;
  }

  .cart-result-order-box {
    max-width: 700px;
  }

  .return span {
    display: inline;
  }

  .cart-order {
    max-height: 570px;
  }
}
