:root {
  --color-system-violet: #6725a8;
  --color-system-white: #fff;
  --color-system-black: #000;
  --color-system-smoky: #f6f6fa;
  --color-system-gray: #9797af;
  --color-system-light-gray: #a0a0a4;
  --color-system-magenta: #cb11ab;
  --color-system-light-pink: #cb11ab26;
  --color-system-green: #0cb477;
  --color-system-orange: #f55123;
  --color-system-coral: #ff3b30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI-Regular.woff2") format("woff2"),
    url("../fonts/SegoeUI/SegoeUI-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI-Bold.woff2") format("woff2"),
    url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--color-system-violet);
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.header-button-mob,
.cart-product__price-mob,
.cart-product__remaining_hiden,
.nav-mob {
  display: none;
}

.out-stock {
  display: none !important;
}

.header {
  color: var(--color-system-white);
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 18px 22px 19px 24px;
}

.header-nav {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.451);
  padding: 11px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__burger {
  background-image: url(../image/header__burger.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 24px;
  cursor: pointer;
}

.header-logo {
  width: 108px;
  font-size: 30px;
  line-height: 23px;
  font-variant: all-small-caps;
  margin: -3px 13px 0 1px;
  letter-spacing: 2px;
}

.header-logo-name {
  letter-spacing: 2px;
  margin-left: -2px;
}

.header-search {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  padding: 11px 17px 6px 20px;
  border-radius: 36px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 2px;
}

.header-search:hover {
  background-color: rgba(255, 255, 255, 0.328);
}

.header-search__button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.header-search__input {
  background: transparent;
  border-color: transparent;
  color: var(--color-system-white);
  font-size: 18px;
  width: 100%;
  letter-spacing: -1px;
  margin: -10px 0px -3px -3px;
  cursor: pointer;
}

.header-search__input::placeholder {
  color: var(--color-system-white);
  opacity: 0.5;
}

.header-navbar {
  display: flex;
  gap: 41px;
  margin-left: 18px;
}

.header-navbar__link {
  min-width: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  line-height: 16px;
  position: relative;
}

.header-navbar__profile-img,
.header-navbar__cart-img {
  width: 28px;
  height: 28px;
}

.header-navbar__cart-img {
  margin-left: 9px;
  margin-right: 16px;
}

.count {
  font-size: 10px;
  text-align: center;
  min-width: 16px;
  height: 16px;
  position: absolute;
  top: -6px;
  right: 7px;
  background: var(--color-system-orange);
  padding: 0 4px;
  font-weight: 700;
  border-radius: 16px;
  color: var(--color-system-white);
}

.cart-container {
  border-radius: 24px 24px 24px 24px;
  background: var(--color-system-smoky);
  padding: 23px 24px 51px 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
}

.cart-product__right,
.cart-product__left {
  display: flex;
}

.cart-product__left {
  align-items: flex-start;
}

.checkbox-all {
  margin-right: 12px;
}

/* Скрыть нативный чекбокс */
input[type="checkbox"] {
  display: none;
}

/* Стилизовать кастомный чекбокс */
input[type="checkbox"] + .custom-checkbox {
  position: relative;
  padding-left: 34px;
  cursor: pointer;
}

/* Создать кастомный вид для кастомного чекбокса */
input[type="checkbox"] + .custom-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url(../image/checkbox.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

/* Стилизовать кастомный чекбокс при выборе */
input[type="checkbox"]:checked + .custom-checkbox::before {
  background-image: url(../image/checkbox-active.svg);
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container img {
  width: 72px;
  height: 96px;
  border-radius: 8px;
  margin-right: 17px;
}

.checkbox-action {
  display: flex;
}

.cart {
  grid-column: span 2;
}

.cart__title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-top: 12px;
  margin-bottom: 27px;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart__header-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.cart-product-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 21px;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
}

.cart-product__img {
  margin-right: 17px;
  cursor: pointer;
}

.cart-product__icon-heart {
  transition: all 0.3s;
}

.actions__btn-heart,
.actions__btn-cart {
  color: var(--color-system-black);
  transition: all 0.3s;
}

.actions__btn-heart:hover,
.actions__btn-heart:active {
  color: var(--color-system-magenta);
}

.actions__btn-cart:hover,
.actions__btn-heart:active {
  color: var(--color-system-orange);
}

.cart-product__name,
.cart-product__color,
.cart-product__size {
  margin-bottom: 5px;
}

.cart-not-available {
  margin-top: 30px;
}

.cart-product__options {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 275px;
  margin-top: 1px;
}

.cart-product__box {
  margin-right: 44px;
  margin-bottom: 2px;
}

.cart-product__seller-info {
  width: 20px;
  height: 20px;
}

.cart-product__name {
  font-size: 16px;
  line-height: 24px;
}

.cart-product__option {
  display: flex;
  gap: 18px;
  font-size: 13px;
  line-height: 16px;
}

.cart-product__warehouse,
.cart-product__seller {
  color: var(--color-system-gray);
  font-size: 13px;
  line-height: 16px;
}

.cart-product__seller-box {
  display: flex;
  gap: 7px;
}

.cart-product-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 16px;
}

.cart-product-box-quantity {
  position: relative;
  display: inline-block;
  border-radius: 8px;
}

.cart-product__quantity-count {
  width: 62px;
  height: 44px;
  font-size: 16px;
  border: none;
  background: var(--color-system-white);
  text-align: center;
  -webkit-appearance: none; /* Убираем стандартные стили в Chrome и Safari */
}

.cart-product__quantity-count::-webkit-inner-spin-button,
.cart-product__quantity-count::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Убираем стрелки в Chrome и Safari */
  margin: 0;
}

.cart-product-box-quantity {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--color-system-white);
}

.quantity-btn {
  background-color: var(--color-system-white);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 8px;
}

.minus-btn {
  padding-left: 12px;
}

.plus-btn {
  padding-right: 8px;
  padding-top: 2px;
}

.plus-btn-disabled {
  color: var(--color-system-gray);
}

.cart-product__actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.cart-product-box img {
  width: 20px;
  height: 20px;
}

.cart-product__remaining {
  color: var(--color-system-coral);
  font-size: 13px;
  line-height: 16px;
}

.cart-product__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 110px;
  gap: 5px;
  white-space: nowrap;
  margin-top: -2px;
}

.cart-product__final-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.cart-product__price-small {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 6px;
  gap: 8px;
}

.cart-product__final-price-small {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.4px;
  margin-top: 2px;
  white-space: nowrap;
}

.cart-product__old-price {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  color: var(--color-system-gray);
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  letter-spacing: -0.14px;
  cursor: pointer;
}

.cart-product__final-price span {
  font-size: 16px;
  line-height: 24px;
}

.cart-result-order__item {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 17px;
  margin-bottom: 15px;
}

.cart-result-order__item-info {
  display: flex;
  flex-direction: row;
  gap: 17px;
  letter-spacing: 0.32px;
}

.cart-result-order__item-info-adress-box {
  margin-left: 20px;
  letter-spacing: 0.03px;
}

.cart-result-order__item-delivery-price {
  margin-right: 15px;
}

.cart-result-order__item-nearest-delivery {
  margin-right: 65px;
}

.cart-result-order__item-next-time-delivery {
  margin-right: 65px;
  margin-top: -4px;
}

.cart-result-order__img {
  display: flex;
  gap: 8px;
  margin-top: -2px;
}

.cart-result-order__img-image {
  width: 40px;
  height: 56px;
}

.cart-result-order__img-count {
  position: relative;
}

.count-buy {
  top: -7px;
  right: -4px;
  font-weight: 400;
}

.cart-result-order-container-items {
  display: flex;
  flex-direction: column;
  gap: 17px;
  min-width: 590px;
  margin-top: 34px;
}

.cart-result-order-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-result-order-box {
  max-width: 300px;
}

.cart-result-order {
  max-width: 891px;
  padding: 16px 24px 24px 24px;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  background: var(--color-system-white);
  box-sizing: border-box;
}

.cart-order {
  border-radius: 16px;
  background: var(--color-system-white);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 15px 25px 24px 24px;
  flex-direction: column;
  gap: 24px;
  height: max-content;
}

.cart-result {
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.5px;
  letter-spacing: -0.24px;
}

.cart-result span {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.cart-result a {
  color: var(--color-system-magenta);
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
}

.cart-order-result-card {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  letter-spacing: -0.1px;
}

.card-date {
  padding-left: 6px;
}

.pay-now {
  color: var(--color-system-gray);
  font-size: 13px;
  line-height: 16px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 34px;
  min-width: 698px;
}

.form-box__items {
  display: flex;
  gap: 25px;
  align-items: center;
}

.form-box__item {
  color: var(--color-system-black);
  font-size: 16px;
  border: none;
  line-height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.form-box__item::placeholder {
  color: var(--color-system-gray);
  line-height: 16px;
}

.test {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-box__label {
  color: var(--color-system-gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.cart-order-result-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-result-order__item-info-adress {
  display: flex;
  gap: 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 5px;
}

.cart-result-order__item-title-pick-up {
  width: 150px;
}

.cart-order-container {
  line-height: 24px;
  letter-spacing: 0.09px;
}

.cart-result,
.cart-order__info,
.cart-order__delivery-header,
.cart-order__payment-header {
  display: flex;
  justify-content: space-between;
}

.cart-order__delivery,
.cart-order__delivery-info {
  display: flex;
  flex-direction: column;
}

.cart-order__delivery {
  gap: 12px;
}

.cart-order__delivery-header {
  line-height: 24px;
}

.popup-link {
  margin-top: 3px;
}

.cart-order__delivery-address {
  font-size: 13px;
  line-height: 16px;
}

.selected-address {
  margin-bottom: 4px;
}

.cart-order__delivery-date {
  color: var(--color-system-magenta);
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
  line-height: 16px;
}

.return,
.cart-order__card-pay-now {
  border-radius: 8px;
  padding: 10px 8px 12px 8px;
  font-size: 13px;
  line-height: 16px;
  background: var(--color-system-smoky);
}

.cart-order__card-pay-now {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 18px;
}

.custom-checkbox-pay {
  margin-left: -2px;
  margin-top: -1px;
}

.return img {
  width: 22px;
  height: 22px;
}

.return span {
  display: inline-block;
  width: 100%;
}

.return a {
  color: var(--color-system-green);
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
  letter-spacing: 0.1px;
}

.return p {
  font-size: 13px;
  line-height: 16px;
}

.return {
  display: flex;
  gap: 8px;
  align-items: center;
}

.return-info {
  background-color: transparent;
  padding: 0;
}

.return-info p {
  margin-top: 4px;
}

.cart-order__payment-card-info {
  display: flex;
  gap: 10px;
  text-align: right;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 8px;
  align-items: center;
}

.cart-order__payment {
  display: flex;
  gap: 3px;
  flex-direction: column;
}

.cart-order__payment-card-info img {
  background: var(--color-system-smoky);
  border-radius: 4px;
}

.cart-order__btn {
  border-radius: 8px;
  background: var(--color-system-magenta);
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--color-system-white);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.cart-order__do-order {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.oferta-access {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 13px;
  line-height: 16px;
  min-width: 234px;
}

.oferta-access__text {
  margin-right: 24px;
}

.oferta-access a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-box__phone-container {
  width: 100%;
  margin-top: -16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-box__inn-container {
  margin-top: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-box__item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-box__label-inn {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 4px;
}

.form-box__label.error {
  position: absolute;
  top: 28px;
}

#phoneLabel,
#innLabel {
  position: absolute;
  font-size: 12px;
}

#phoneLabel {
  top: 45px;
}

#innLabel {
  top: 40px;
}

.out-of-stock {
  color: var(--color-system-gray);
  width: 620px;
}

.out-stock__img {
  filter: grayscale(100%);
}

.footer__text {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  margin: 24px;
  letter-spacing: 0.2px;
}

.form-box__item.error {
  border-bottom: 1px solid var(--color-system-orange);
}

.error {
  color: var(--color-system-orange);
}

.popup-pay__container,
.popup-delivery__container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(5, 0, 10, 0.3);
  top: 0;
  left: 0;
}

.popup-pay,
.popup-delivery {
  width: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background: var(--color-system-white);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.popup-delivery {
  width: 500px;
  height: 408px;
}

.popup-pay__header,
.popup-delivery__header {
  display: flex;
  justify-content: space-between;
  margin: 16px 19px 7px 24px;
}

.popup-pay__title,
.popup-delivery__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.popup-delivery__list-address {
  width: 400px;
}

.popup-delivery__list-title {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 22px 12px 22px;
}

.popup-delivery__list {
  display: flex;
}

.popup-delivery__list-container {
  display: flex;
  justify-content: space-between;
}

.popup-delivery__list-pick-up-point,
.popup-delivery__list-courier {
  flex-direction: column;
  gap: 18px;
  margin: 0px 16px 0 14px;
  padding: 7px;
  height: 180px;
  overflow: auto;
}

.popup-delivery__list-pick-up-point {
  display: none;
}

.popup-delivery__list-courier {
  display: flex;
}

.popup-delivery__list-adress {
  margin-top: -7px;
  width: 100%;
}

.delivery__btn-cart {
  color: var(--color-system-gray);
}

.delivery__btn-cart:hover,
.delivery__btn-cart:active {
  color: var(--color-system-orange);
}

.popup-delivery__list-pick-up-point label,
.popup-delivery__list-courier label {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 13px;
}

.popup-pay__list {
  margin: 0 22px 123px 22px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-delivery__list-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.popup-delivery__pick-up-point {
  font-size: 13px;
  color: var(--color-system-light-gray);
}

.popup-pay__list label,
.popup-delivery__list label {
  display: flex;
  gap: 7px;
}

.popup-delivery__choice {
  display: flex;
}

.popup__close-icon {
  padding-top: 5px;
}

.popup-delivery__choice-btn {
  border-radius: 20px;
  background: var(--color-system-white);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  width: 100%;
  padding: 8px 0 9px 0;
  border: 2px solid var(--color-system-light-pink);
}

.active {
  border: 2px solid var(--color-system-magenta);
}

.popup-delivery__choice {
  display: flex;
  margin: 0 22px 24px 22px;
  gap: 8px;
}

.popup-pay__input {
  margin-right: 8px;
}

.card-img {
  border-radius: 4px;
  background: var(--color-system-smoky);
}

.popup__delivery-btn,
.popup__card-btn {
  border-radius: 8px;
  background: var(--color-system-magenta);
  height: 45px;
  border: none;
  color: var(--color-system-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  padding: 0 48px 0 48px;
  margin: 13px 24px 24px 24px;
}

input[type="radio"] {
  display: none;
}

.radio-decor {
  display: inline-block;
  width: 17px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
}

/* Стили для активного состояния */
input[type="radio"]:checked + .radio-decor {
  background-color: var(--color-system-magenta);
  border: none;
}

/* Маленький белый кружок в центре */
input[type="radio"]:checked + .radio-decor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
}

.tooltip {
  font-size: 13px;
  position: absolute;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--color-system-white);
  border-radius: 8px;
  z-index: 9999;
}

.seller-info__tooltip-content {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 11px 16px 13px 16px;
}

.return-info__tooltip-content {
  width: 288px;
  padding: 10px 16px 14px 16px;
}

.old-price__tooltip__tooltip-content {
  min-width: 239px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 11px 16px 13px 16px;
}

.discount-info {
  display: flex;
  justify-content: space-between;
}

.discount-info__text {
  color: var(--color-system-light-gray);
}

.disableBtn {
  background: var(--color-system-light-pink);
}
